body{
    max-width: 400px;
    margin: 0 auto;
}
section{
    margin: 8px;
    padding: 8px;
    background: #f0f0f0;
    border-radius: 4px;
}
section a{
    cursor: pointer;
    text-decoration: underline;
}
#pizzada-game{
    padding-top: 40px;
}
#pizzada-target{
    position: absolute;
    box-sizing: border-box;
    height: 34px;
    top: 15px;
    width: 368px;
    background: #ffffff;
    padding: 4px;
}
#pizzada-enter{
    position: absolute;
    box-sizing: border-box;
    height: 34px;
    top: 15px;
    width: 368px;
    color: limegreen;
    text-shadow: 0 0 1px white;
    padding: 4px;
}