body{
    max-width: 400px;
    margin: 0 auto;
}
section{
    padding: 8px;
    background: #f0f0f0;
    text-align: center;
    font-size: 20px;
}
section a{
    cursor: pointer;
    text-decoration: underline;
}
#pizzada-game{
    padding-top: 70px;
}
#pizzada-target{
    font-size: 24px;
    text-align: left;
    position: absolute;
    box-sizing: border-box;
    height: 45px;
    top: 15px;
    width: 382px;
    background: #ffffff;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,.3);
}
#pizzada-enter{
    font-size: 24px;
    text-align: left;
    position: absolute;
    box-sizing: border-box;
    height: 34px;
    top: 15px;
    width: 382px;
    color: limegreen;
    text-shadow: 0 0 1px white;
    padding: 4px;
}
#pizzada-time{
    font-weight: 900;
    font-size: 30px;
}