@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');

body {
    max-width: 400px;
    margin: 0 auto;
    background: #fff7e9;
}

section {
    padding: 8px;
    background: #f8ecd6;
    text-align: center;
    font-size: 20px;
}

section h2 {
    letter-spacing: 10px;
    font-family: 'Forum', cursive;
    font-size: 46px;
}

section a {
    cursor: pointer;
    text-decoration: underline;
}

#pizzada-game {
    padding-top: 70px;
}

#pizzada-target-area {
    text-align: left;
}

#pizzada-target {
    font-size: 24px;
    text-align: left;
    position: absolute;
    box-sizing: border-box;
    height: 45px;
    top: 15px;
    width: 382px;
    background: #ffffff;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, .3);
}

#pizzada-wrong {
    position: absolute;
    top: 15px;
    padding: 4px;
    width: 382px;
}

#pizzada-wrong span {
    position: absolute;
    color: red;
    font-size: 24px;
    color: transparent;
    animation: wrong 0.75s ease-out;
}

#pizzada-wrong i {
    color: red;
    opacity: 0;
    font-style: normal;
    animation: wrong 0.75s ease-out;
}

#pizzada-enter {
    font-size: 24px;
    text-align: left;
    position: absolute;
    box-sizing: border-box;
    height: 34px;
    top: 15px;loca
    width: 382px;
    color: limegreen;
    text-shadow: 0 0 1px white;
    padding: 4px;
}

#pizzada-time {
    font-weight: 900;
    font-size: 30px;
}

@keyframes wrong {
    0% {
        opacity: 1;
    }

    100% {
        margin-top: 50px;
        opacity: 0;
        transform: rotate(30deg);
    }
}